
  <form class="new-user-form" action="<%=  session_url %>" method="post">
    <h1>PepperMint</h1>
    <h3>Log In!</h3>
    <%= auth_token %>

    <div class="input">
      <label for="user-email">Email</label>
      <input type="text" name="user[email]" value="<%= @user.email %>">
    </div>

    <div class="input">
      <label for="user-password">Password</label>
      <input type="password" name="user[password]">
    </div>

    <div class="submit">
      <input type="submit" value="Log In!">
    </div>

  </form>