
<section class="page group">
<%= render partial: 'layouts/overview_side_bar' %>
<section class="page-content">
<%= render partial: 'transaction_categories/transaction_category', locals: { category: @category, transactions: @transactions, accounts: @accounts } %>
</section>
</section>