<article class="card">
  <header class="card-header group">
  <h3><%= comment.author.username %> wrote </h3>
   <time><%= time_ago_in_words(comment.created_at) %> ago</time>

  </header>
  <div class="card-content">
    <p><%= comment.body %></p>
</div>
</article>