

<section class="page group">
<%= render partial: 'layouts/overview_side_bar' %>
<section class="page-content">
  <%= render partial: 'budgets', locals: { budgets: @budgets } %>
  </section>
</section>