

<section class="page group">
<%= render partial: 'layouts/overview_side_bar' %>
<section class="page-content">
  <header class="page-content-header">
    <h3 class="page-content-title">Budgets</h3>
    <a href="<%= new_budget_url %>">Create New Budget</a>
  </header>

  <article class="page-body">
    
    <%= render partial: 'budgets/budgets', locals: { budgets: @budgets } %>
    
  </article>
  </section>
</section>