<section class="page group">
  <%= render partial: 'layouts/overview_side_bar' %>
  <section class="page-content group">
    <header class="page-content-header group">
      <h1 class="page-title">Notifications</h1>
    </header>
  <article class="page-section">
    <div class="cards group">
    <% @notifications.each do |notification| %>
      <article class="card">
        <header>
          <h3><%= notification.message %></h3>
          <time><%= time_ago_in_words(notification.created_at) %> ago</time>
        </header>
        <div class="card-body">
        <p><%= link_to "#{notification.notifiable.name}", notification.notifiable %></p>
        </div>
      </article>
    <% end %>
    </div>
  </article>
  </section>
</section>