<section class="page group">
<%= render partial: 'layouts/overview_side_bar' %>
<section class="page-content">
  <header>
    <h3>Follow People!</h3>
  </header>

  <section class="users">
  <table class="users-table">
    <tr>
      <td class="profile-thumbnal"></td>
      <td>Username</td>
      <td>Age</td>
      <td>Fame</td>
    </tr>
    <% @users.each do |user| %>
      <tr>
      <td></td>
      <td><a href="<%= user_url(user) %>"><%= user.username %></a></td>
      <td><%= user.profile.age %></td>
      <td></td>
      </tr>
    <% end %>
  </table>
  </section>
</section>
</section>