<section class="page group">
  <ul class="nav-side-bar group">
    <%= render partial: 'layouts/overview_side_bar' %>
  </ul>
<section class="page-content">
  <%= render partial: 'feed', locals: { shares: @shares } %>
</section>
</section>