<section class="welcome group">
  <h1>Welcome to PepperMint!</h1>
  <div class="links group">
    <a href="<%= new_session_url %>"><h3>Log In!</h3></a>
    <a href="<%= new_user_url %>"><h3>Sign up!</h3></a>
  </div>
</section>