<section class="welcome-page-background">
<section class="welcome group">
  <h1>Welcome to PepperMint!</h1>
  <h3>Mint.com meets Facebook!</h3>
  <div class="links group">
    <a href="<%= new_session_url %>"><strong>Log In!</strong></a>
    <a href="<%= new_user_url %>"><strong>Sign up!</strong></a>
  </div>
  <p><a href="<%= demo_user_url %>">Sign in with a demo account</a></p>
</section>
</section>