<section class="welcome group">
  <h1>Welcome to PepperMint!</h1>
  <div class="links group">
    <a href="<%= new_session_url %>"><strong>Log In!</strong></a>
    <a href="<%= new_user_url %>"><strong>Sign up!</strong></a>
  </div>
</section>