

<section class="page group">
<%= render partial: 'layouts/overview_side_bar' %>
<section class="page-content">
  <%= render partial: 'layouts/overview_main', locals: { goals: @goals, budgets: @budgets} %>
</section>
</section>