
<section class="page group">
<%= render partial: 'layouts/overview_side_bar' %>

<section class="page-content">
  <header class="page-content-header">
    <h3 class="page-title"><%= current_user.username %>'s Goals</h3>

     <a href="<%= new_goal_url %>">Create New Goal</a>
  </header>

 
  <section class="cards group">
    <% @goals.each do |goal| %>
      <%= render partial: 'goal', locals: { goal: goal } %>
    <% end %>
  </section>
</section>
</section>