/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, h1, h2, h3, form, section, article, div, select, option, p, ul, li, label, strong, thead, th, tbody, tr, td, textarea {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  overflow-y: scroll;
  font-family: sans-serif;
}

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="submit"],
  textarea {
    -webkit-appearance: none;
    box-sizing: content-box;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    width: auto;
    background: transparent;
    color: inherit;
  }

input[type="submit"] {
    display: inline;
    cursor: pointer;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 2px 5px;
  }

  img {
    border-radius: 5px;
  }

.login-button {
  margin: 10px 5px;
  display: block;
}

.submit.login-button > input {
  padding: 10px 20px;
  background-color: #fa0;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
}

.new-user-form > a {
  /*padding: 10px;*/
  margin: 5px;
  font-size: 12px;
  display: block; 
}

.logout {
  
}

.logout > input {
  padding: 10px 20px;
}

.logout:hover {
  background: rgba(100,100,100,0.2);
}

.logout {
  color: #0a5;
}

a {
  color: #0a5;
  text-decoration: none;
}

textarea {
  padding: 2px;
  font-size: 12px;
  background: #fff;
  border: 1px solid #ccc;
  resize: vertical;
}
ul {
  list-style: none;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

h3 {
  font-size: 20px;
}

/* --- Helper methods (clearfix) --- */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* --- Header --- */

.header {
  background: rgba(100,100,100,0.1);
  box-shadow: 0 0 5px rgba(0,0,0,0.6)
}

.header-wrap {
  width: 1000px;
  margin: auto;
}

.header a {
  color: #0a5;
}

.header-logo {
  float: left;
  letter-spacing: 3px;
}

.header-logo > a {
  display: block;
  padding: 10px 20px;
  color: #0a5;
  font-weight: bold;
}

.transaction-description > input {
  width: 50px;
}

.header-logo > a:hover {
  background: rgba(100,100,100,0.2);
}

.header-nav {
  float: right;
}

.header-nav > ul {
}

.header-nav > ul > li {
  position: relative;
  float: left;
}

.header-nav > ul > li > a {
  display: block;
  padding: 10px 20px;
}

.header-nav > ul > li:hover > a {
  background: rgba(100,100,100,0.2);
}

.user-side-bar {
  width: 200px;
  display: block;
  float: left;
}

.nav-side-bar {
  width: 200px;
  float: left;
}

.nav-side-bar > li > a {
  color: #0a5;
  display: inline-block;
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
}

.nav-side-bar > li > a:hover {
  background-color: #eee;
}

#messages-sidebar-container {
  width: 200px;
  float: left;
}

.page {
  width: 960px;
  padding: 20px;
  margin: auto;
}

.page-content {
  width: 700px;
  float: right;
  border-left: 3px solid #ddd;
  padding-left: 50px;
}

.page-content > .page-content-header {
  border-bottom: 3px solid #ccc;
  padding: 0 0 10px 0;
}

.page-content-header > .page-title {
  font-size: 50px;
  width: 100%;
  padding-bottom: 10px;
}

.page-content-header > h1 {
  display: block;
  float: left;
}

.page-content-header > h3 {
  font-size: 30px;
}

.page-content-header > .fame {
  clear: left;
  padding: 10px 0;
}

.page-content > .page-section {
  padding: 0 0 20px 0;
  border-bottom: 2px solid #ddd;
}

.page-section {
  margin: 20px 0 0 0;
}

.user-header-info-list {
  padding: 10px 0;
  clear: left;
}

.user-header-info-list > li {
  padding: 0 10px 0 0;
  float: left;
  display: block;
}

.user > article > header > h3 {
  font-size: 20px;
  margin: 20px 0 0 0;
}

form > input {
  background: #0c0;
}

.account-selector {
  margin: 20px 0 20px 0;
  display: block;
}

.select {
  float: left;
}

.submit.view-button {
  float: left;
  clear: none;
  padding: 0 0 0 20px;
}

.comments {
  float: right;
  display: block;
  width: 300px;
  /*background-color: red;*/
}

.comment-count {
  /*background-color: green;*/
  display: block;
  margin: 0 5px 0 0;
  float: right;
}

/*.new-comment-form > */

.new-comment-form > .submit > input {
  font-size: 10px;
  margin: 0 5px 0 0;
  padding: 3px;
  float: right;
}

.new-comment-form > .input {
  float: right;
  margin: 0 0 0 0;
}

/*.new-comment-form > */

.input > textarea {
  width: 200px;
  height: auto;
}

/*.card > .card-buttons > .comments > form > */

.input > textarea {
  padding: 2px;
  /*margin: 5px;*/
  font-size: 12px;
  background: #fff;
  border: 1px solid #aaa;
  /*border-radius: 5px;*/
}

.new-user-form {
  padding: 30px;
  width: 300px;
  margin: auto;

}

.new-user-form > h3 {
  padding: 10px;
  text-align: center;
  font-size: 30px;
}

.new-user-form > h1 {
  text-align: center;
  font-size: 50px;
}

.new-user-form > .input {
  margin: 5px;
}

/*.new-user-form > .submit > input {
  padding: 10px 20px;
  margin: 10px auto;
}*/

.input {
  margin: 20px 0;
}

.input > label {
  display: block;
  font-weight: bold;
}

.input > input {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 2px;
  width: 300px;
}

.submit > input {
  color: #0a5;
  text-align: center;
  position: relative;
  display: block;
  background-color: #f80;
  padding: 10px 20px;
  border-radius: 5px;
  margin: auto;
  color: #fff;
  position: static;
  display: block;
  float: left;
}

.background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -100000000;
}

.submit > input:hover {
  background-color: #f90;
}

.welcome {
  margin: auto;
  padding: 30px;
  width: 300px;
}

.welcome-page {
  background: url("mintleaf.jpg");
}

.welcome > h1 {
  text-align: center;
  font-size: 50px;
}

.welcome > .links {
  margin: auto;
}

.welcome > .links > a {
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px;
  width: 80px;
  display: block;
  float: left;
  margin: 20px;
  padding: 15px;
  background: #fa0;
  text-align: center;
  color: #fff;
}

.welcome > .links > a:hover {
  background: #f80;
}

.welcome.submit {
  margin: auto;
  float: none;
}

/*****Messaging*****/

.message-form-container {
  /*padding: 10px;*/
  width: 180px;
}

.message-form > .input {
  padding: 5px 5px 0 0;
  margin: 0;
}

.message-form > .input > label {
  text-align: left;
  font-weight: normal;
}

.message-form > .input > input {
  border: 1px solid #eee;
  width: 100%;
  background: #fff;
  border-radius: 0;
}

.message-form > .input > textarea {
  width: 100%;
  border: 1px solid #eee;
}

.message-form > .submit {

}
.message-form > .submit > input {
  display: inline-block;
  font-size: 12px;
/*  background: #fff;
  color: #0a5;*/
  padding: 3px;
}

.messages {
  width: 100%;
  display: block;
  clear: left;
  margin: 10px 0 0 0;
}

.messages > li > h3 {
  display: block;
  padding-top: 10px;
}

.messages > ul {
  padding-top: 10px
}

.message-content {
  /*float: right;*/
  display: block;
  padding: 10px 10px 10px 10px;
  margin: 10px auto;
  margin-bottom: 0;
  background-color: #eee;
  /*border: 2px solid #ccc;*/
  border-radius: 3px;
}

.message-content > header > article {
  display: block;
  padding: 5px 0 5px 0;
}

.message-content > header > article > time {
  /*font-weight: lighter;*/
  padding: 0;
  display: block;
  float: left;
  color: #999;
  font-size: 10px;
}

.message-content > header > .message-title {
  background: #fff;
  padding: 2px;
  font-size: 14px;
}

.message-content > .message-body {
  display: block;
  padding: 2px;
  background: #fff;
  font-size: 14px;
}

.message-content > header > form {
  display: block;
}

.message-delete {
  display: block;
  float: right;
  font-size: 10px;
}

.message-delete > input {
  color: #999;
}

.message-delete > input:hover {
  color: #000;
}

.message-thumb {
  margin: 0 5px;
  display: inline-block;
}

.message-thumb.user-sent-message {
  float: right;
}

.message img {
  height: 50px;
  width: 50px;
}

/*****Faming*****/

.fame-container {
  position: relative;
  display: block;
}

.fame {
  width: 100px;
  display: block;
  float: left;
  padding-left: 5px;
}

.fame-count {
  position: absolute;
  top: 5px;
  left: 50px;
  font-weight: bold;
  font-size: 20px;
}

.fame-forms {
  display: block;
  height: 36px;
}

.fame-form > .submit > input {
  margin: 0 0 1px 0;
  display: block;
  clear: both;
  float: left;
  padding: 0;
  vertical-align: text-bottom;
  padding: 2px;
  /*background: none;*/
}

.unfame-form {
  display: block;
}

.unfame-container {

}

.unfame-form > .submit > input {
  position: absolute;
  top: 7px;
  display: block;
  clear: both;
  float: left;
  padding: 0;
  vertical-align: text-bottom;
  padding: 2px;
  /*background: none;*/
}

.fame-count {
  padding: 0 0 0 10px;
  display: block;
}



/*****Cards******/





/******Card******/

.cards {
  
}

.mini.card {
  width: 304px;
  float: left;
  margin-right: 10px;
}
.card {
  background-color: #F3F3F3;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 20px 0 0 0;
  cursor: pointer;
}

.card-content {
  margin: 10px 0 10px 0;
}

.user.card > .card-header {
  border: 0;
}

.user.card {
  width: 304px;
  float: left;
  margin-right: 10px;
}

.card-header > div.thumb {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  display: block;
}

.card-header {
  display: block;
  border-bottom: 3px solid #ddd;
  padding: 0 0 10px 0;
  vertical-align: middle;
}

.card-header > div {
  display: inline-block;
  float: left;
}

.card-header > .header-info > h3 {
  float: left;
  clear: left;
  display: block;
  font-weight: bold;
  font-size: 20px;
}

.card-header > .header-info > h3 > a {
  display: block;
}

.card-header > .header-info > h3 > a:hover {
  color: #0c7;
}

.card-header > a > .avatar {
  width: 100px;
  height: 100px;
}

time {
  float: left;
  padding-top: 5px;
  display: block;
  font-weight: lighter;
  font-size: 12px;
  clear: both;
}

.card > p {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #ddd;
}

.card > .card-footer {
  padding-top: 10px;
}
.card > .card-footer > .card-buttons {
  font-size: 12px;
}

.card > .budget-body {

}

/*.card > .budget-body > */
.chart {
  border-bottom: 3px solid #ddd;
  padding: 10px 0 10px 0;
  width: 100%;
}

.card > .budget-body > li {
  width: 120px;
  padding: 10px 10px 0 0;
  display: block;
  float: left;
}

/*********comments*********/

.comment-count {
  font-size: 12px;
}

.dropdowns {
  width: 500px;
}

.dropdown {
  display: block;
  padding: 10px 0 0 0;
}

.dropdown select {
  width: 200px;
  float: right;
  
}

.dropdown select option {
  background: #ddd;
}

.radio {
  padding: 10px 0 0 0;
}

/********Tables********/

table {
  width: 100%;
  margin: 10px 0 0 0;
  border-collapse: collapse;
  border: 3px solid #ccc;
  /*border-radius: 3px;*/
}

th {
  padding: 10px;
  background: #eee;
  /*border: 3px solid #ccc;*/
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;

  text-align: left;
  font-weight: bold;
}

td {
  padding: 10px;
  border: 2px solid #ccc;
  font-size: 12px;
  overflow: hidden;
}

.transactions-table {
  /*width: 100%;*/  
}

td.total {
  text-align: right;
  border: 0;
}

.overview {
  display: block;
  padding: 10px 0 20px 0;
  border-bottom: 3px solid #ddd;
}

.overview > header {
  margin: 10px 0 0 0;
  border-bottom: 3px solid #ccc;
  padding: 0 0 10px 0;
}

.overview > header > h3 {
  display: block;
  padding: 0 0 10px 0;
}

.overview-subheader > h3 {
  font-size: 36px;
  display: block;
  float: left;
  border-radius: 3px;
  /*vertical-align: baseline;*/
}

.overview-subheader > h3 > a {
  padding: 10px 20px;
  
  vertical-align: middle;
}

.overview-subheader > h3 > a:hover {
  background-color: #eee;
}

.overview-subheader > a {
  color: #fff;
  float: right;
  background-color: #fa0;
  padding: 5px 10px 5px 5px;
  border-radius: 3px;
  margin: 12px 0 10px 0;
}

.overview-subheader > a:hover {
  background-color: #f80;
}


.goal-subsection {
  padding: 0 0 20px 0;
  border-bottom: 3px solid #ccc;
}

.profile-thumbnail {
  float: left;
}

.user-info-card {
  display: block;
  padding: 0 0 0 20px;
  width: 120px;
}

.user-info-card > h3 {
  font-weight: bold;
  font-size: 20px;
  clear: right;
  height: 45px;
}

.user-info-card > time  {
  margin: 20px 0 0 0;
}

.avatar {
  max-width: 600px;
  max-height: 600px;
  height: auto;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #eee;
}

.user > .card-header > .avatar {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
} 

.alert {
  background: #beb;
  width: 100%;
  margin: auto;
  text-align: center;
}

.alert-error {
  background: #ebb;
  width: 100%;
  margin: auto;
  text-align: center;
}

.page-content-header > strong > a {
  display: block;
  float: left;
  padding: 10px 20px;
  margin-right: 20px;
  font-size: 24px;
  border-radius: 3px;
}

.page-content-header > strong:hover > a {
  background: #F3F3F3;
}

.page-content-header > strong > a.selected {
  color: #fff;
  background: #f80;
}

.link-button > a {
  color: #0a5;
  text-align: center;
  position: relative;
  display: block;
  background-color: #f80;
  padding: 10px 20px;
  border-radius: 5px;
  margin: auto;
  color: #fff;
  position: static;
  display: block;
  float: left;
}


.link-button > a:hover {
  background-color: #f90;
}

td > textarea.inline-edit {
    -webkit-appearance: none;
    box-sizing: content-box;
    display: block;
    margin: 1px;
    padding: 2px;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    width: 100%;
    background: transparent;
    color: inherit;
    resize: none;
    height: 14px;
    position: relative;
}

td > textarea.inline-edit:focus {
  background: #eee;
}

.hidden {
  display: none;
}

.transaction-container {
  background-color: #fff;
}

.green-background {
  background-color: #fff;
  -webkit-animation: fadetogreen 5s;
}

@-webkit-keyframes fadetogreen {
  0% { background-color: #cfc; }
  100% { background-color: #fff; }
}

.welcome > p {
  text-align: center;
}