/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, h1, h2, h3, form, section, article, div, select, option, p, ul, li, label {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: sans-serif;
}

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="submit"],
  textarea {
    -webkit-appearance: none;
    box-sizing: content-box;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    width: auto;
    background: transparent;
    color: inherit;
  }

input[type="submit"] {
    display: inline;
    cursor: pointer;
  }

.logout-button {
  padding: 10px 20px;
}

.logout-button > input[type="submit"] {
  color: #fff;
}

a {
  color: #f00;
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

/* --- Helper methods (clearfix) --- */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* --- Header --- */

.header {
  background: #0a5;
  border-bottom: 3px solid #333;
}

.header-wrap {
  width: 900px;
  margin: auto;
  border-left: 3px solid #333;
  border-right: 3px solid #333;
}

.header a {
  color: #fff;
}

.header-logo {
  float: left;
}

.header-logo > a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
}

.header-logo > a:hover {
  background: #333;
}

.header-nav {
  float: right;
}

.header-nav > ul {
}

.header-nav > ul > li {
  position: relative;
  float: left;
}

.header-nav > ul > li > a {
  display: block;
  padding: 10px 20px;
}

.header-nav > ul > li > form > input {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  background: transparent;
  border-style: none;
}

.header-nav > ul > li:hover > a {
  background: #333;
}

.header-nav > ul > li > form > input:hover {
  background: #333;
}

.nav-side-bar {
  width: 200px;
  float: left;
}

.nav-side-bar > li > a {
  display: inline-block;
  padding: 10px 5px;
}

.page {
  width: 860px;
  padding: 20px;
  margin: auto;
}

.page-content {
  width: 600px;
  float: right;
  border-left: 3px solid #ddd;
  padding-left: 50px;
}

.user-header-info-list > li {
  padding: 10px;
  float: left;
  display: block;
}

.user > article > header > h3 {
  font-size: 20px;
  padding: 20px 0 0 0;
}

.cards {
  
}

form > input {
  background: #0c0;
}

.card {
  background-color: #eee;
  border: 3px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.card > .thumb {
  width: 50px;
  height: 50px;
  overflow: 
}

.card-header {
  display: block;
  border-bottom: 3px solid #ddd;
  vertical-align: middle;
}

.card-header > div {
  display: inline-block;
  float: left;
}

.card-header > h3 {
  float: left;
  display: inline;
  font-weight: bold;
  font-size: 20px;
  vertical-align: 50%;
}

.card-header > h3 > a {
  vertical-align: 50%;
}

.card > .card-footer > .card-buttons > .fame-count {
  display: inline-block;
  float: left;
  font-weight: bold;
  font-size: 20px;
  vertical-align: 50%;
}

.card-header > time {
  font-weight: lighter;
  font-size: 12px;
}

.card > p {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #ddd;
}

.card > .card-footer {
  padding-top: 10px;
}
.card > .card-footer > .card-buttons {
  font-size: 12px;
  font-weight: lighter;
}

.fame-form {
  display: block;
}

.card > .card-footer > .fame {
  display: block;
  float: left;
  padding-left: 5px;
}

.fame-form > .submit > input {
  display: inline;
  padding: 0;
  vertical-align: text-bottom;
  background: none;
}

.fame-forms > .fame-form > .submit > .input {
  background: none;
  padding: 0;
  height: 100%;
}

.fame-count {
  padding: 0 0 0 10px;
  display: block;
}

.card > .card-buttons > .fame > p {
  display: inline-block;
}

.comments {
  /*background-color: red;*/
}

.card > .card-buttons > .comments > .comment-count {
  /*background-color: green;*/
  display: block;
  float: left;
}

.new-comment-form > .submit > input {
  position: static;
  display: block;
  float: left;
  padding: 5px;
}

.new-comment-form > .input {
  margin: 0 0 0 0;
}

.new-comment-form > .input > textarea {
  padding: 2px;
  font-size: 12px;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.card > .card-buttons > .comments > form > .input > textarea {
  padding: 2px;
  margin: 5px;
  font-size: 12px;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.new-user-form {
  /*background: #eee;*/
  padding: 30px;
  width: 300px;
  margin: auto;
  border-radius: 5px;
}

.new-user-form > h3 {
  padding: 10px;
  text-align: center;
  font-size: 30px;
}

.new-user-form > h1 {
  text-align: center;
  font-size: 50px;
}

.new-user-form > .input {
  margin: 0;
}

.input {
  margin: 20px 0;
}

.input > label {
  display: block;
  font-weight: bold;
  text-align: center;
}

.input > input {
  background-color: #eee;
  border: 3px solid #ddd;
  border-radius: 5px;
  width: 300px;
}

.submit > input {
  text-align: center;
  position: relative;
  display: block;
  background-color: #bbb;
  padding: 10px 20px;
  border-radius: 5px;
  margin: auto;
}

.submit > input:hover {
  background-color: #ccc;
}

.welcome {
  margin: auto;
  padding: 30px;
  width: 300px;
}

.welcome > h1 {
  text-align: center;
  font-size: 50px;
}

.welcome > .links {
  margin: auto;
}

.welcome > .links > a {
  width: 70px;
  display: block;
  float: left;
  margin: 20px;
  padding: 20px;
  background: #eee;
  text-align: center;
  color: #0a5;
}

.welcome > .links > a > h3 {
  font-weight: bold;
}
