<script type="application/json" id="pie-chart-data">
  <%= data_for_transaction_categories(@transactions).to_json.html_safe %>
</script>

<div class="transactions-table">
<table>
<thead>
  <th>Account</th>
  <th>Date</th>
  <th>Description</th>
  <th>Category</th>
  <th>Amount</th>
</thead>
<tbody>
<% transactions.each do |transaction| %>
  <%= render partial: 'transactions/transaction', locals: { transaction: transaction } %>
<% end %>
</tbody>
</table>
</td>

<script>
  $(document).ready(function(){
    
    $('tbody').on("webkitAnimationEnd", '.transaction-container', function(event){
      $(event.currentTarget).removeClass("green-background");
    });

    $('tbody').on('keypress', '.inline-edit', function(event){
      if (event.which == 13) {
        event.preventDefault();
        var $target = $(event.currentTarget);
        var transactionUrl = $target.attr("data-transaction-url");
        var formData = $target.serialize();
        var text = $target.val();


        console.log("target", $target)
        $.ajax({
          url: transactionUrl,
          type: 'PATCH',
          data: formData,
          success: function(data) {
            $target.blur();
            $target.closest(".transaction-container").removeClass("green-background");
            $target.closest(".transaction-container").addClass("green-background");
          },

          error: function(data) {
            $target.empty();
            $target.html(text);
          }
        });
      }
     });
    });
</script>