<section class="page group" data-url="<%= transactions_url %>">
<%= render partial: 'layouts/overview_side_bar' %>
<section class="page-content">

  <%= render partial: 'transactions/transactions', locals: { transactions: @transactions, data: @data } %>

</section>
</section>


