<ul class="nav-side-bar group">
    <li><a href="<%= overview_url %>">Overview</a></li>
    <li><a href="<%= budgets_url %>">Budgets</a></li>
    <li><a href="<%= goals_url %>">Goals</a></li>
    <li><a href="<%= transactions_url %>">Transactions</a></li>
</ul>